@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}

a{
    text-decoration: none;
}

.fa-pinterest:hover{
    color: red;
}

